<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Trafik Levhası Tanıma</title>
</head>
<body>
    <h1>Trafik Levhası Tanıma</h1>
    
    <!-- Dosya yükleme formu -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Yükle</button>
    </form>

    {% if uploaded_file_url %}
        <h2>Yüklenen Resim:</h2>
        <img src="{{ uploaded_file_url }}" alt="Uploaded Image" width="400">

        {% if result_image_url %}
            <h2>Tanıma Sonucu:</h2>
            <img src="{{ result_image_url }}" alt="Result Image" width="400">
        {% endif %}
    {% endif %}
</body>
</html>
